<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет proudcts -->

{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1><p align="center">Все товары</p></h1>
<h3>{{ time_now|date:'d M Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
    {% if products %}
        {% for p in products %}
            <h3><p align="center">{{ p.category }} - {{ p.name }} - {{ p.price }} руб.</p></h3>
        {% endfor %}
    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->
        <h2><p align="center">Товаров нет!</p></h2>
    {% endif %}

{% endblock content %}
</p>