<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет proudcts -->

{% block title %}
Products
{% endblock title %}
 

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    {% if products %}
        <h1><p align="center">Все товары</p></h1>
        {% for p in products %}
            <h3><p align="center">{{ p.category }} - {{ p.name }} - {{ p.price }} руб.</p></h3>
        {% endfor %}
    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->
        <h2><p align="center">Товаров нет!</p></h2>
    {% endif %}

{% endblock content %}
</p>
