<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет proudcts -->
{% block title %}
Product
{% endblock title %}
 
<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}   
<h3><p align="center">{{ time_now|date:'d M Y' }}</p></h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
   <h1><p align="center">{{ product.name }}, {{ product.price }} руб.</p></h1>
{% endblock content %}